    /* essential measurements */

    :root {
        --navbar-height: 80px; /* Added 20px to compensate */
    }
    /* body */

    body {
        font-family: "Inter", sans-serif, "Roboto";
        background-color: white;
        text-align: center;
        color: #ffffff;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        overflow-x: hidden;
    }

    /* Navbar styles */

    .navbar {
        box-sizing: border-box; 
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 1000000;
        display: flex;
        gap: 1.4rem;
        background-color: #ffffff;
        padding: 0px 4px;
        font-weight: bold;
        outline: 0.5px solid rgb(235, 235, 235);
        align-items: center;

        /* shadow */
        box-shadow: 
        0 2px 4px rgba(0,0,0,0.1),
        0 4px 8px rgba(0,0,0,0.075),
        0 8px 16px rgba(0,0,0,0.05);
    }

    .navbar a {
        font-family: monospace;
        display: flex;
        font-weight: bold;
        color: rgb(53, 53, 53);
        text-decoration: none;
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;

        transition: transform 0.2s ease; /* smooth animation */
    }

    .navbar a:hover {
        transform: translateY(2px);
        text-decoration: underline;
        color: rgb(161, 161, 161);
    }

    .side {
        color: rgb(81, 81, 81);
        display: flex;
        white-space: nowrap;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        padding: 0px,0px;
        font-size: 1.5rem;
        height: 100%;
        justify-content: center;    
    }

    .caption {
        color: rgb(161, 161, 161);
        font-size: 0.8rem;
    }

    /* body */

    logo img {
        height: 40px;
        width: 40px
    }

    img {
        width: 50px
    }

    /* 
    NOTE: 
    align-items, vertical
    justify-content, horizontal
    */

    /* Typewriter effect */

    #typewriter::after {
        content: "|";
        animation: blink 0.6s infinite;
    }

    @keyframes blink {
        29% {opacity: 1;}
        30% {opacity: 0;}
        69% {opacity: 0;}
        79% {opacity: 1;}
    }

    /* hero stuff */
    .hero { 
        width: 100vw;     
        height: 60vh;
        background-image: var(--img);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        align-items: flex-start;

        display: flex;
        flex-direction: column; /* stack caption and content vertically */

        padding: 0px;
        margin: 0px;
    }

    .hero .hero-content {
        display: flex;
        margin-top: auto; /* pushes link to bottom */
    }

    .hero a {
        -webkit-text-stroke-width: 0.1vw;
        -webkit-text-stroke-color: rgb(185, 185, 185);
        color: rgb(255, 255, 255);
        font-weight: bolder;
        /* text-shadow: 4px 4px rgba(255, 255, 255, 0.144); */

        margin-left: 1rem;

        font-family: monospace,"Roboto";
        font-size: 9vw;

        display: block;
        justify-content: flex-start;
    }

    .hero .caption {

        margin-top: 4rem;
        justify-content: flex-start;
        font-size: 1.5vw;
    }

    /* content stuff */

    .content {
        /* margin-left: 2.5%;
        margin-right: 2.5%; */

        max-width: 2000px;
        margin: 0 auto;
        padding: 0 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        text-align: left;
        color: black;
        line-height: 1.4;
    }

    .content .large_title {
        /* color: black; */
        font-size: 7vw;
        font-weight: bold;
        padding-top: 0px;
        margin: 0;
    }
    
    .content .small_title {
        font-size: 4vw;
        font-weight: bold;
        text-align: center;

        display: block;
        margin: 0 auto;
    }

    .content h1 { /* TIP TO SELF: will only work if h1 is a valid HTML element (so something like heading is invalid) */
        color: black;
        font-size: 26px;
        font-weight: bold;
        padding-top: 0px;
        margin: 0;
    }

    .content b {
        font-weight: bold;
    }

    .content h2 {
        color: black;
        font-weight: lighter;
        font-size: 20px;
        /* line-height: 1.4; */
    }

    /* NOTE: flex affects the children, block affects the element itself. */
    .content img {
        width: 70%;

        display: block;
        margin: 0 auto; /* 0 margins top and bototm, remaining space is distributed */
    }

    .content .code_box {
        box-sizing: border-box; 
        background-color: rgb(235, 235, 235);
        width: 100%;
        border-left: 1.5vw solid rgb(175, 175, 175);

        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content .box {
        background-color: rgb(248, 252, 255);
        border: 2px solid grey;
        border-radius: 10px;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 0 auto;
        padding: 5px;
    }

    .content .large_box_checkers {
        background-color: rgb(255, 255, 255);
        border: 2px solid grey;
        border-radius: 10px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 0 auto;
        padding: 0px; /*NOTE: Padding doesn't work because its IN the parent (TO MAKE WIDTH ACCOUNT FOR PADDING, USE ... )*/
        margin-bottom: 15px;
        box-shadow: 
        0 2px 4px #0000001a,
        0 4px 8px rgba(0,0,0,0.075),
        0 8px 16px rgba(0,0,0,0.05);

        background-image: url(images/checkers.png);
        background-position: 0% 0%;
        background-size: 700px 500px;

        animation: moveTexture 20s linear infinite
    }

    .content .large_box {
        background-color: rgb(255, 255, 255);
        border: 2px solid grey;
        border-radius: 10px;
        width: 100%;

        display: flex;/* make the box a flex container */
        flex-direction: column;/* stack content vertically */
        justify-content: center;/* center content vertically */
        align-items: center;/* center content horizontally */
        
        margin: 0 auto;
        padding: 0px; /*NOTE: Padding doesn't work because its IN the parent*/
        margin-bottom: 15px;
        box-shadow: 
        0 2px 4px #0000001a,
        0 4px 8px rgba(0,0,0,0.075),
        0 8px 16px rgba(0,0,0,0.05);
    }

    @keyframes moveTexture {
        50% {background-position: 50% 50%;}
    }

    .content .countdown {
        display: block;
        margin: 0 auto;
        font-size: 4vw;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        color: black;
    }

    .content .caption {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: rgb(161, 161, 161);
        font-size: 1rem;
    }

    .image_side_box {
        display: flex;
        gap: 16px;
        
        align-items: top;
        position: relative;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .image_side_box img {
        width: 30vw;
        height: auto;   
        flex-shrink: 0;

        display: block;
        margin:0;
        margin-bottom: 0px;
    }

    .image_side_box h1 {
        display: block;
        margin: 0 auto;
    }

    .image_caption {
        position: absolute;
        /* bottom: 40px;
        left: 16px; */

        color: rgb(161, 161, 161);

        -webkit-text-stroke-width: 0.01px;
        -webkit-text-stroke-color: rgb(126, 126, 126);

        font-weight: 900;
        font-size: 1.7rem;
    }

    .bottom-left {
        bottom: 4px;
        left: 16px;
    }

    .top-right {
        top: 16px;
        right: 16px;
    }

    .two_column_list {
        columns: 2;
        column-gap: 40px;
    }
 
    /* text types (go BGS) */
    .bgs_blue {
        font-weight:bold;   
        color: rgb(76, 183, 255);
        -webkit-text-stroke-width: 0.01px;
        -webkit-text-stroke-color: rgb(65, 118, 187);
        text-align: left;
    }

    .cure_all_colour {
        font-family: 'Courier New', Courier, monospace;
        font-weight:900;
        color: rgb(255, 228, 76);
        -webkit-text-stroke-width: 0.2vw;
        -webkit-text-stroke-color: rgb(187, 144, 65);
        text-align: left;
        top: 0px;
        left: 0px;

        position: relative; /*Note to self - this makesmovement of position rel. to the current pos.*/
        animation: 
        colourShift 3s linear infinite,
        shiftAround 0.4s linear infinite;
    }

    @keyframes colourShift {
        50% {color: rgb(255, 153, 0)}
    }

    /* @keyframes shiftAround {
        50% {
            top: 2px;
            left: 0.5px;
        }
        75% {
            top: 2.5px;
            left: -1.25px;
        }
    } */

    .winners_colour {
        font-family: monospace;
        color: rgb(144, 255, 93);
        -webkit-text-stroke-width: 0.18vw;
        -webkit-text-stroke-color: rgba(43, 112, 37, 0.568);
    }

    .info_colour {
        font-family: monospace;
        color: rgb(255, 93, 93);
        -webkit-text-stroke-width: 0.18vw;
        -webkit-text-stroke-color: rgba(117, 39, 39, 0.568);
    }

    .code_font {
        font-family: monospace;
        font-size: 20px;
        /* background-color: rgb(224, 224, 224); */
    }

    .hyperlink {
        color: rgb(73, 132, 187);
    }

    /* spacing */
    .spacer {
        height: 20px; /* vertical empty space */
        width: 100%;  /* full width */
    }

    .top_padding {
        height: var(--navbar-height);
        width: 100%;
    }