body {
    font-family: monospace;
    background-color: white;
    text-align: center;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.content {
    margin-left: 4px;
}

/* Navbar styles */

.navbar {
    box-sizing: border-box; 
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000000;
    display: flex;
    gap: 1.4rem;
    background-color: #ffffff;
    padding: 0px 4px;
    font-weight: bold;
    outline: 0.5px solid rgb(235, 235, 235);
    align-items: center;
}

.navbar a {
    display: flex;
    font-weight: bold;
    color: rgb(81, 81, 81);
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side {
    color: rgb(81, 81, 81);
    display: flex;
    white-space: nowrap;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    padding: 0px,0px;
    font-size: 1.5rem;
    height: 100%;
    justify-content: center;    
}

.caption {
    color: rgb(161, 161, 161);
    font-size: 0.8rem;
}

.navbar a:hover {
    text-decoration: underline;
}

logo img {
    height: 40px;
    width: 40px
}

.text_with_image {
    display: flex;
    align-items: center;
    gap: 16px;
}

img {
    width: 50px
}

.bgs_blue {
    font-style: italic;
    font-weight:bold;
    color: aqua;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    text-align: left;
}

button {
    padding: 10px 20px;
    font-size: 16px;                                                   
    cursor: pointer;
}